<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/product/product-opt/<%=product._id%>/create" method="post">
        <span>Tên sp</span><input type="text" name="name" value="<%=product.name%>">
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Color</th>
                    <th scope="col">Rom</th>
                    <th scope="col">Ram</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <% if(productOpts.length){ for(let i=0;i<productOpts.length;i++) { %>
                    <tr>
                        <th scope="row">1</th>
                        <td><%=productOpts[i].color_opt%></td>
                        <td><%=productOpts[i].rom_opt%></td>
                        <td><%=productOpts[i].ram_opt%></td>
                        <td><%=productOpts[i].price%></td>
                    </tr>
                    <%} } else { %>
                        <tr>
                            <center><td><span>Không có option nào</span></td></center>
                        </tr>
                        <% } %>
            </tbody>
        </table>
        <br>
        <div>
            <select name="color_opt" id="">
                <% for(let i=0;i<color_opts.length;i++) { %>
                    <option value="<%= color_opts[i].code%>">
                        <%= color_opts[i].name%>
                    </option>
                    <%}%>
            </select>
            <select name="rom_opt" id="">
                <% for(let i=0;i<rom_opts.length;i++) { %>
                    <option value="<%= rom_opts[i].code%>">
                        <%= rom_opts[i].name%>
                    </option>
                    <%}%>
            </select>
            <select name="ram_opt" id="">
                <% for(let i=0;i<ram_opts.length;i++) { %>
                    <option value="<%= ram_opts[i].code%>">
                        <%= ram_opts[i].name%>
                    </option>
                    <%}%>
            </select>
            <span>Giá:</span><input type="text" name="price" >
            <span>Qty:</span><input type="text" name="qty" >
        </div>
        <hr>
        <div>

            <select name="color_opt" id="">
                <% for(let i=0;i<color_opts.length;i++) { %>
                    <option value="<%= color_opts[i].code%>">
                        <%= color_opts[i].name%>
                    </option>
                    <%}%>
            </select>
            <select name="rom_opt" id="">
                <% for(let i=0;i<rom_opts.length;i++) { %>
                    <option value="<%= rom_opts[i].code%>">
                        <%= rom_opts[i].name%>
                    </option>
                    <%}%>
            </select>
            <select name="ram_opt" id="">
                <% for(let i=0;i<ram_opts.length;i++) { %>
                    <option value="<%= ram_opts[i].code%>">
                        <%= ram_opts[i].name%>
                    </option>
                    <%}%>
            </select>
            <span>Giá:</span><input type="text" name="price">
            <span>Qty:</span><input type="text" name="qty" >
        </div>
        <hr>
        <button type="submit"> Tạo</button>
    </form>
</body>

</html>